.left {
    width: 100px;
    height: 150px;
    float: left;
    background-color: #ffb5bf;
}
.right {
    height: 150px;
    margin-left: 100px;
    background-color: #94e8ff;
}
.container {
    overflow: hidden; /* 设置主元素为BFC，包含浮动元素，清除浮动
}