body {
    min-width: 630px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: underline;
    color: wheat;

}
p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
a {
    color: black;
    text-decoration: none;
}

.container {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.head_con {
    overflow: hidden;
    width: 100%;
}
.logo {
    float: left;
    width: 300px;
    height: 72px;
    margin-left: 50px;
}
.menu_list {
    margin-left: 500px;
    height: 72px;
    margin-top: 0px;
    list-style-type: none;
    padding: 0px;
}
.menu_item {
    display: inline-block;
    padding-left: 100px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    text-align: center;
    float: right;
}
.brand {
    width: 100%;
    height: 700px;
    margin: 0;
    display: block;
}
.container_a {
    overflow: hidden;
    width: 100%;
}
.center-container {
    width: 100%;
    float: left;
}
.center-container .center {
    height: 150px;
    margin-left: 500px;
    margin-right: 500px;
}
.img_left {
    width: 400px;
    height: 150px;
    float: left;
    margin-left: -90%;
    left: -30%;
}
.img_right {
    width: 400px;
    height: 150px;
    float: left;
    margin-left: -600px;
}

.yellow {
    color: darkorange;
}
.details_area {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.details_con {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}
.detail_list {
    width: 100%;
    height: 300px;
    display: inline-block;
    margin-left: 130px; 
}
.detail_list img {
    margin-top: 20px;
    margin-left: 80px;
    width: 210px;
    box-shadow: 10px 10px 5px #888888;
}

.yewu {
    overflow: hidden;
}
.p_txt {
    color: sandybrown;
    font-size: 20px;
    font-weight: normal;
}
.detail_list_hy {
    width: 100%;
    height: 300px;
    display: inline-block;
    margin-left: 150px;
}
.detail_list_hy img {
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 10px;
    width: 250px;
    box-shadow: 1px 1px 5px #888888;
}
.gongneng {
    margin: 0px;
    margin-bottom: 10px;
}
.sim {
    font-weight: bolder;
    font-size: 24px;
}
.ershi {
    display: block;
    position: relative;
    margin-left: 16%;
    margin-top: 100px;
    width: 1300px;
}

.zc {
    margin-top: 100px;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
    height: 500px;
}
.zc_list {
    display: block;
    height: 470px;
}
.zc_list li {
    display: inline-block;
    float: left;
    width: 48%;
    margin-right: -7%;
    margin-left: 5%;
    height: 470px;
    position: relative;
    text-align: center;
    overflow: hidden;

}
.zc_list li a {
    display: block;
    height: 100%;
    width: 100%;
}
.zc_list li p {
    display: block;
    float: left;
    font-size: 26px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 90%;
    margin-top: -20px;
    z-index: 3;
}
.zc_list li img {
    display: block;
    height: 70%;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 10%;
    z-index: 1;
}
.p_txt_a {
    right: 30%;
}
.txt_size {
    font-size: 18px;
}