.left {
    width: 100px;
    height: 150px;
    float: left;   
    background-color: #ffb5bf; 
}
.right {
    height: 150px;
    float: left;
    width: calc(100% - 100px);
    background-color: #94e8ff;
}
.container {
    overflow: hidden;
}