body{
    margin: 0 auto;
}
li p {
    font-family: Arial, Helvetica, sans-serif;
}
.wrap {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: wheat;
}

.goods_details .distribution_details .evaluation_details .store_details{
    margin: 0 10px;
}

.goods_img{
    width: 100%;
    display: block;
    height: 310px;
    background-color: yellow;
}
.goods_img img{
    width: 100%;
    max-width: 100%;
    height: 310px;
}

.bk_cl{
    background-color: #f5f6f8;
    display: block;
    width: 100%;
    overflow: hidden;
}

.goods_details{
    display: block;
    width: 95%;
    height: 290px;
    margin: 2.5% 2.5%;
    background-color: #fff;
    border-radius:5px; 
    overflow: hidden;
}
.goods_price{
    display: block;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 15px;
}
.price_list{
    display: block;
    width: 100%;
    height: 32px;
    overflow: hidden;
}
.price_item_1{
    color: tomato;
    font-size: 32px;
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    top: 50%;
}

.price_item_2{
    display: inline-block;
    float: right;

}
.price_item_2 img{
    height: 32px;
    max-height: 100%;
    max-width: 100%;
}
.pc {
    display: block;
    height: 13px;
    background-color: #Fff;
}

.goods_tag{
    display: block;
    width: 100%;
}
.goods_tag p{
    display: inline-block;
    width: 20%;
}

.goods_tag .tag_1{
    background-color: #F99256;
    border-radius: 5px;
    text-align: center;
}

.goods_tag .tag_2{
    background-color: #67C284;
    border-radius: 5px;
    text-align: center;
}

.goods_name {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.goods_name span{
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
}

.strong_cl{
    background-color: #FE6718;
}

.member{
    display: block;
    position: relative;
    width: 95%;
    margin: 0 2.5% 15px;
    height: 40px;
    background-color: #FFEFDF;
    border-radius: 5px;
}

.member ul{
    display: block;
    position: absolute;
    width: 100%;
    margin: 5px auto 0px;
    float: left;
    height: 30px;
}
.member ul li{
    display: inline-block;
    font-size: 15px;
    margin-top: 7px;
    color: #B1895E;
    font-weight: bold;
}
.member_item_1 {
    width: 70%;
    float: left;
}
.member_item_2{
    width: 30%;
    float:right;
    text-align: right;
}

.member_item_1_cl{
    color: #F37D44;
}


.instructions{
    display: block;
    position: relative;
    width: 98%;
    height: 80px;
    margin: 0px 1%;
    border-radius: 5px;
}

.instructions_list {
    display: block;
    width: 100%;
}

.instructions_list li{
    font-size: 20px;
    font-weight: 100;
    font-family: monospace;
}

.instructions_item_1{
    display: inline-block;
    width: 17%;
    margin: 10px 2% 0 0;
    height: 60px;
    text-align: center;
    line-height: 60px;

}

.instructions_item_2{
    display: inline-block;
    width: 17%;
    margin: 10px 2% 0 0;
    height: 60px;
    line-height: 60px;

}



.distribution_details{
    display: block;
    width: 95%;
    margin: 0 2.5% 2.5%;
    background-color: #fff;
    height: 210px;
    border-radius: 5px;
    overflow: hidden;
}

.distribution_details_margin {
    display: block;
    width: 96%;
    height: 210px;
    overflow: hidden;
    margin: 2% 2%;
}

.distribution_details_list{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.distribution_details_list li {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    line-height: 50px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.distribution_details_item1{
    line-height: 0px;
    display: block;
    margin-left: 40px;
    color: #3FA869;
    font-size: 0.95rem;
    font-family: initial;
}



.evaluation_details {
    display: block;
    width: 95%;
    height: 500px;
    margin: 0px 2.5% 2.5%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.evaluation_details_name{
    display: block;
    width: 100%;
    overflow: hidden;
}

.evaluation_details_list {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 18px;
}

.evevaluation_details_item1 {
    display: inline-block;
    width: 50%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.evevaluation_details_item2 {
    display: inline-block;
    width: 50%;
    float: right;
    text-align: right;
    font-size: 20px;
}
.evaluation_details_tag{
    margin-top: 20px;
    display: block;
    width: 100%;
}

.tag_list {
    display: block;
    width: 98%;
    overflow: hidden;
    margin: 0 1.5%;
}

.tag_item{
    display: inline-block;
    width: 21%;
    margin-left: 2%;
    background-color: #FFF2EA;
    height: 30px;
     border-radius: 10px;
     line-height: 30px;
     text-align: center;
     font-size: 0.9rem;
}


.evaluation_details_img{
    display: block;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}

.evaluation_details_img img{
    width: 100%;
    max-width: 100%;
}


.evaluation_details_click {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    overflow: hidden;
}

.click_tag{
    display: block;
    width: 40%;
    height: 40px;
    margin: 1% 30%;
    border-radius: 502px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.click_tag a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.2rem;
    text-decoration:none;
}


.store_details {
    display: block;
    width: 95%;
    height: 420px;
    margin: 0 2.5% 5px;
    background-color: #fff;
    border-radius: 5px;
}

.store_details_name{
    display: block;
    width: 100%;
    overflow: hidden;
}


.store_details_list{
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 18px;
    height: 70px;
}

.store_details_item1{
    display: block;
    float: left;
    width: 20%;
    height: 70px;
    margin-left: 10px;
}
.store_details_item1 img{
    width: 100%;
    max-width: 100%;
}

.store_details_item2{
    display: inline-block;
    width: 40%;
    height: 50%;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.store_details_item3{
    display: inline-block;
    width: 40%;
    height: 50%;
    margin-left: 10px;
    font-weight: inherit;
    opacity: 0.5;
}

.store_details_item4{
    display: block;
    width: 30%;
    height: 100%;
    position: relative;
    float: right;
    top: -50%;
    text-align: right;
    line-height: 70px;
    font-size: 30px;
}




.store_details_tag{
    margin-top: 20px;
    display: block;
    width: 100%;
}
.store_details_tag_list {
    display: block;
    width: 98%;
    overflow: hidden;
    margin: 0 1.5%;
}
.store_details_tag_item{
    display: inline-block;
    width: 35%;
    margin-left: 2%;
    background-color: #FFF2EA;
    height: 40px;
     border-radius: 502px;
     line-height: 40px;
     text-align: center;
     font-size: 1.1rem;
     float: left;
}


.store_details_img{
    display: block;
    width: 98%;
    margin: 20px 1%;
}

.store_details_img li{
    display: inline-block;
    width: 20%;
    height: 90px;
    margin-left: 3%;
}

.store_details_img li img{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
}

.img_list{
    display: block;
    width: 100%;
    height: 90px;
    overflow: hidden;
}

.txt_list{
    display: block;
    widows: 100%;
}
.txt_list li{
    display: inline-block;
    width: 20%;
    height: 20px;
    margin-left: 3%;
    text-align: center;
    margin-top: 20px;
    text-overflow: ellipsis;
}


.store_details_link {
    display: block;
    width: 100%;
    margin-top: 50px;
}

.link_list{
    display: block;
    width: 100%;
}
.link_list li {
    display: inline-block
}

.link_item{
    width: 25%;
    height: 35px;
    margin-left: 15%;
    border-radius: 502px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    line-height: 35px;

}



.recommend_details{
    display: block;
    width: 95%;
    height: 600px;
    margin: 0px 2.5% 20px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.recommend_details_header{
    width: 100%;
    height: 40px;
    text-indent: 20px;
    line-height: 40px;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 5px;
}

.recommend_img{
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}
/* .recommend_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    overflow: hidden;
} */

.recommend_list{
    width: 100%;
    display: block;
}

.recommend_list li{
    display: inline-block;
    width: 28%;
    margin-left: 4%;
    margin-top: 10px;
    height: 180px;
}

.recommed_item {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.recommed_item img{
    width: 100%;
    max-width: 100%;
    height: 50%;
}


.p_1{
    margin-top: 10px;
    font-size: 1rem;
}
.p_2{
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.2rem;
}

.recommend_details_footer{
    display: block;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.recommend_details_footer img{
    display: block;
    margin-left: 40%;
    max-width: 100%;
}

.recommend_details_tag{
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 50px;

}

.ed_img_list {
    display: block;
    width: 98%;
    height: 300px;
    margin: 0 1%;
}


.ed_img_list li {
    display: inline-block;
}

.ed_img_item1 {
    width: 10%;
    height: 50px;
    float: left;
    margin-left: 10px;
    border: 0px solid black;
    border-radius: 50%;
}
.ed_img_item2{
    width: 80%;
    height: 50px;
    float: left;
    margin-left: 5px;
    box-sizing: border-box;
    padding-top: 10px;
}

.ed_img_item1 img{
    display: block;
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.ed_img_item3 {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 10px;
}
.pcc{
    display: block;
    width: 100%;
    height: 10px;
}


.ed_img_item4 {
    width: 30%;
    margin-left: 2%;
    margin-top: 20px;
    height: 143px;
}

.ed_img_item4 img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}