.container {
    display: flex; /*容器设置为flex布局*/
}
.center {
    height: 150px;
    background-color: #94e8ff;
    flex-grow: 1; /*flex-grow 定义了项目的放大比例，默认为 0，也就是即使存在剩余空间，也不会放大。它设置为1后其他项目不变，它填充所有剩余空间*/
}
.left {
    width: 100px;
    height: 150px;
    background-color: #ffb5bf;
    order: -1;
}
.right {
    width: 200px;
    height: 150px;
    background-color: #8990d5;
}