.left {
    width: 100px;
    height: 150px;
    background-color: #FFB5BF;
    display: inline-block;
}
.right {
    height: 150px;
    background-color: #94e8ff;
    width: calc(100% - 100px);
    display: inline-block;
}
.container {
    font-size: 0;
}
