body {
    min-width: 630px; /*保证窗口缩小时也能展示*/
}
.container {
    overflow: hidden; /*包含浮动元素特性*/
    padding-left: 100px;
    padding-right: 200px;
}

.center {
    width: 100%;
    height: 150px;
    background-color: #94e8ff;
    float: left;
}

.left {
    width: 100px;
    height: 150px;
    background-color: #ffb8bf;
    margin-left: -100%;/*.left 要回到 .center 的最左边，便是要向左移动 .center 的宽度，即 100%*/
    float: left;
    position: relative;
    left: -100px;
}
.right {
    width: 200px;
    height: 150px;
    background-color: #8990d5;
    margin-left: -200px; /*.right 想要达到 .center 的最右边，只需要向左移动它自己本身的宽度就可以了，即 200px*/
    float: left;
    position: relative;
    right: -200px;
}
